In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-01-19 00:12:39,42.6001,-73.9662,20.23,67,23,8.41
1,1,Ushuaia,AR,2022-01-19 00:10:41,-54.8000,-68.3000,47.77,94,80,5.14
2,2,Punta Arenas,CL,2022-01-19 00:12:39,-53.1500,-70.9167,55.51,67,40,21.85
3,3,Thinadhoo,MV,2022-01-19 00:12:40,0.5333,72.9333,82.24,77,100,8.81
4,4,Lebu,CL,2022-01-19 00:12:40,-37.6167,-73.6500,57.16,74,76,14.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds ,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind ,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Thinadhoo,MV,2022-01-19 00:12:40,0.5333,72.9333,82.24,77,100,8.81
7,7,Hilo,US,2022-01-19 00:12:41,19.7297,-155.0900,80.80,89,100,9.22
9,9,Cabo San Lucas,MX,2022-01-19 00:12:42,22.8909,-109.9124,84.61,61,20,9.22
12,12,Suba,PH,2022-01-19 00:12:43,10.8438,121.0102,78.84,83,83,23.22
15,15,Frederico Westphalen,BR,2022-01-19 00:12:44,-27.3592,-53.3944,80.64,39,84,8.12
16,16,Butaritari,KI,2022-01-19 00:12:45,3.0707,172.7902,82.09,79,15,17.31
17,17,Kapaa,US,2022-01-19 00:12:45,22.0752,-159.3190,82.11,68,0,1.99
18,18,Bandarbeyla,SO,2022-01-19 00:12:45,9.4942,50.8122,75.36,80,42,9.80
23,23,Pangkalanbuun,ID,2022-01-19 00:12:47,-2.6833,111.6167,75.27,96,100,1.86
24,24,Rikitea,PF,2022-01-19 00:12:48,-23.1203,-134.9692,77.81,79,100,14.00

In [12]:
preferred_cities_df.count()

City_ID       122
City          122
Country       122
Date          122
Lat           122
Lng           122
Max Temp      122
Humidity      122
Cloudiness    122
Wind Speed    122
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df=preferred_cities_df[['City', 'Country', 'Max Temp','Lat','Lng']].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
3              Thinadhoo      MV     82.24   0.5333   72.9333
7                   Hilo      US     80.80  19.7297 -155.0900
9         Cabo San Lucas      MX     84.61  22.8909 -109.9124
12                  Suba      PH     78.84  10.8438  121.0102
15  Frederico Westphalen      BR     80.64 -27.3592  -53.3944
16            Butaritari      KI     82.09   3.0707  172.7902
17                 Kapaa      US     82.11  22.0752 -159.3190
18           Bandarbeyla      SO     75.36   9.4942   50.8122
23         Pangkalanbuun      ID     75.27  -2.6833  111.6167
24               Rikitea      PF     77.81 -23.1203 -134.9692

In [14]:
# Set parameters to search for a hotel.
params = {"radius": 5000,"type": "lodging","key": g_key}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Thinadhoo,MV,82.24,0.5333,72.9333,
7,Hilo,US,80.80,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Cabo San Lucas,MX,84.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
12,Suba,PH,78.84,10.8438,121.0102,Jarnchi Pension House
15,Frederico Westphalen,BR,80.64,-27.3592,-53.3944,Hotel Palace Frederico
16,Butaritari,KI,82.09,3.0707,172.7902,Isles Sunset Lodge
17,Kapaa,US,82.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Bandarbeyla,SO,75.36,9.4942,50.8122,JABIR HOTEL
23,Pangkalanbuun,ID,75.27,-2.6833,111.6167,Grand Kecubung Hotel
24,Rikitea,PF,77.81,-23.1203,-134.9692,People ThankYou

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,max_intensity=300, point_radius=4)

marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))